*{
    font-family: 'Century Gothic';
}
body{
    margin: auto;
   height: 100%;
}

html{
    background-image: url(./photos/stone-path-with-grass-growing-up_1137-86.avif);
    background-size: cover;
}
/* Menü */
.menu{
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    border-bottom: 2px beige solid;
    background-color: rgba(255, 248, 188, 0.1);

    
}
.menu div{
    padding: 1%;
    width: fit-content;
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
     height: fit-content;
     text-align: center;
     margin: 1%;
     color: rgb(245, 245, 220);
     
}
.menu div:hover{
    background-color: rgba(107, 138, 111, 0.5);
    }
    
/* Home */
.tajephome{
    padding: 5%;
    border: 8px beige solid;
    width: 40%;
    margin: 5% auto;
    background-color: rgb(245, 245, 219, 0.5);
    text-align: center;
    
    }

.tajephome h1{
    font-size: 50px;
    padding: 3%;
    text-align: center;
  
}

/* Rólunk */
.szoveg{
    width: 65%;
    color: rgb(7, 7, 0);
    background-color: rgb(245, 245, 220, 0.8);
    padding: 2%;
    text-align: justify;
   }
   
   img{
       padding: 1%;
       max-width: 100%;
       height: auto;
   
   }
   .szoveg div{
    text-align: center;
   }
   .content{
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: fit-content;
    }
    .content div{ 
        margin: 1%;
        border-radius: 5px;
        font-size: larger;
    height: 100%;
    }
/* Szolgáltatások */

.szolgaltatasok{
    display: flex;
    flex-direction: column;
    width: 100%; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    height: fit-content;
    }
    .szolgaltatasok div{
        display: flex;
        flex-direction: row;
        padding: 1%;
        background-color: rgb(255, 248, 188, 0.6);
        margin: 1%;
        border-radius: 5px;
        border: 5px solid rgba(225, 248, 188, 0.26);
        font-weight: bolder;
    }
    .szolgaltatasok h2{
        text-align: left;
        background-color: beige;
        padding: 2% 1%;
        margin: 0px;
    }
    p{
        text-align: justify;
    }
    .szolgaltatasok img{
        width: 350px;
    }
    article{
        height: 70%;
        color: rgb(5, 5, 5);
        text-align: justify;
        border-radius: 5px;
            margin: 1%;
            text-align: center;
         
    }

/* Galéria */
.main{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-evenly;  
height: fit-content;
    width: 80%;
    margin:  2% auto;
        align-items: flex-end;
        
     

}
.galeria{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-evenly;  
height: fit-content;
    width: 80%;
    margin:  2% auto;
        align-items: flex-end;
        background-color: rgb(255, 248, 188, 0.6);
     

}
.main p{
    text-align: center;
    margin: 2%;
    font-weight: bold;
}
.galeria p{
    text-align: center;
    margin: 2%;
    font-weight: bold;
}

/* Kapcsolat */
.container{
    background-color: rgb(245, 245, 220, 0.8);
    padding: 1%;
    text-align: left;
    margin: 1%;
}
.container div{
    display: flex;
    
    justify-content: space-between;
}
input{
    width: 50%;
}
option{
    width: fit-content;
    text-align: start;
    font-size: larger;
    box-sizing: content-box;
}
#kuldes{
    display: flex;
    width: 40%;
    margin-left: 80%;
    padding: 1%;
}
caption{
    font-weight: bolder;
    padding: 2%;
    text-align: left;
}
table{
    
    text-align: center;
    /* margin: auto; */
    background-color: beige;
    padding: 2%;
   width: 50%;
    border-collapse: collapse;
    
}
table a{
    color: black;
}
td, th
{
    padding: 2%;
    border: 1px solid black;
}
iframe{
    max-width: 100%;
}
/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    border-top: 2px solid beige;
    background-color: rgb(245, 245, 220, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
}
footer div{
    padding: 0.5%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold; 
}

a{
    color: beige;
    text-decoration: none;   
}


button{
    padding: 15px;
    border: 3px hsl(123, 47%, 29%) solid;
    background-color: rgb(245, 245, 220, 0.8);

    
    
}
button:hover{
    background-color:rgb(39, 109, 43,0.6) ;
    color: beige;
    border: 3px rgb(245, 245, 220, 0.6) solid;

}

@media screen and (max-width: 600px){
    .main{
        align-content: center;
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
        width: 98%;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu div{
       width: 98%;
     
    }
    .main{
    display: flex;
    justify-content: center;
    
}
.content{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
img{
width: 100%;
padding: 2%;
align-self: center;
}
.szoveg{
    width: 100%;
}
.container{
    width: 100%;
    margin: 2%;
}
   
}
@media screen and (max-width: 800px){
    article{
        height: 80%;
        padding: 1%;
            /* font-size: 30px; */
}
.main{
    display: flex;
    justify-content: center;
    
}
.content{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
img{
width: 100%;
padding: 2%;
align-self: center;
}
.szoveg{
    width: 100%;
}
.container{
    width: 100%;
    margin: 2%;
}
}

@media screen and (max-width:1000px) {
    .tajephome{
        padding: 5%;
        border: 8px beige solid;
        width: 60%;
        margin: 5% auto;
        }
    
    .tajephome h1{
        font-size: 30px;
        padding: 3%;
        text-align: center;
    }
    
}
@media screen and (max-width: 1300px){
.main{
    display: flex;
    justify-content: center;
    
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
img{
width: 100%;
padding: 2%;
align-self: center;
}
.szoveg{
    width: 100%;
}
.container{
    width: 100%;
    margin: auto;
}
.szolgaltatasok div{
    display: flex;
    flex-wrap: wrap;
}
.szolgaltatasok img{
    width: 100%;
}

}


/* Galéria */
* {
    box-sizing: border-box;
  }
  .container2 {
    position: relative;
  }
  .mySlides {
    display: none;
    text-align: center;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 16.66%;
  }

  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }